:root {
    --blue: rgb(20, 61, 103);
    --yellow: rgb(241, 212, 147);
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(57, 124, 173);
    color: var(--yellow);
}

.header {
    display: flex;
    border: 5px solid var(--yellow);
    border-radius: 10px;
    background-color: var(--blue);
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin-bottom: 50px;
    padding: 0px 20px 0px;
}

.header .navigation .link {
    color: var(--yellow);
    font-size: 120%;
    text-decoration: none;
    margin-right: 15px;
}

.header .navigation .link:hover {
    text-decoration: underline;
}

.header .navigation .trennstrich {
    font-size: 150%;
    margin-right: 15px;
}

.header #lastUpdate {
    font-size: 105%;
}

.header .navigation .link #backImage {
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
}

/* Home Page */
.container {
    border: 5px solid rgb(74, 43, 0);
    border-radius: 7px;
    width: 45%;
    margin: auto;
    padding: 10px 5px 0px;
}

.container .box {
    background-color: var(--blue);
    padding: 10px;
    margin-bottom: 10px;
}

.container .box #HomePageTitle {
    margin: 0;
    text-align: center;
}

.container .box #FeatureTitle {
    margin: 0;
}

.container .box #ChangeLogTitle {
    margin: 0;
}

/* Redeems Page */
.filter-container {
    background-color: var(--blue);
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 49%;
}

.filter-container span {
    font-size: 120%;
}

.filter-container input {
    border-style: none;
    border-radius: 3px;
    flex-grow: 1;
    width: 60%;
    font-size: 110%;
    background-color: var(--yellow);
    color: rgb(74, 43, 0);
}

.filter-container input:focus {
    outline: none;
}

.filter-container #filterButton {
    width: 12%;
    font-size: 100%;
    background-color: var(--yellow);
    color: rgb(74, 43, 0);
    border-radius: 5px;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    margin-left: 20px;
    border: 5px solid rgb(74, 43, 0);
    border-radius: 10px;
    background-color: var(--blue);
    overflow: hidden;
    min-width: 50%;
    text-align: left;
}

.table-head th {
    font-weight: bold;
    font-size: 120%;
    padding: 10px;
    border-bottom: 3px solid var(--yellow);
}

.table-body td {
    font-size: 110%;
    padding: 7px;
    border-bottom: 5px solid rgb(57, 124, 173);
}

.table-foot th {
    font-size: 110%;
    padding: 7px;
    border-top: 3px solid var(--yellow);
}